body{
    background-color: #15162a !important;
    --primary-color: #149c91;
    --secondary-color: #5d2e71;
    --third-color: #15162a;

}
.fit-content{
    width:-moz-fit-content;
    width:fit-content;
}
/* MENU ICON */
.menu-button{
    position:relative;
    margin:20px 0px;
    float:left;
    width:20px;
    height:2px;
    background-color:#fff;
    z-index:999999999999999999999;
}
.menu-button::before,.menu-button::after{
    position:absolute;
    content:"-";
    top:0;
    left:0;
    width:20px;
    height:2px;
    background-color:#fff;

}
.menu-button::before{
    top:-8px;
}
.menu-button::after{
    top:8px;
}




.radius-lg{
    border:2px solid;
    padding:5px;
    border-radius:20px;
}
input,.emoji-wysiwyg-editor{
    outline: none;
    color:#000;
}

button {
    align-self:center;
    justify-content: center;
    margin:0 5px !important;
    border:0 !important;

}
#alert-container{
    position:absolute;
    right:0;

}

/* CHAT BOX */
.border-l{
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.border-b{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* user list*/
#userContainer{
    max-height:90vh !important;
    overflow-y: hidden;
}

#userListContainer{
    overflow-y: scroll;
    height:60vh;

}
/* SCROLLBAR */
.scrollbar{
    /*scroll var firefox*/
    scrollbar-color: #18cbcb #1b2e61;
    scrollbar-width: thin;
}
.scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #1b2e61;
}
.scrollbar::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}
.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #18cbcb;
}
/* FIN SCROLLBAR*/

.userlist-item{
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
    border-radius:10px;
    background-color: #c9c7c7;
    color: #0d101d;
    padding:16px 0;
    margin-top:10px;
    width:90% !important;

}

.userlist-item.active{
    background-color:orange !important;
}
.userlist-name{
    padding-left:10px;
}
.userlist-item:hover{
    background-color: orange;
    color: #0d101d;
}
.select-none{
    user-select: none
}





/*  ---------- M E S S A G E ------------ */
/*<div id="mess2" class="align-self-end owner-message message-item"><span>public message 2 de emile</span></div>*/
.message-container{
    height:80vh;
    padding:10px;
    border:1px solid rgba(255, 255, 255, 0.2);
    border-top-left-radius : 20px;
    border-bottom-left-radius : 20px;
    background-color: #151d36;
}

.message-container::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */

}

.message-container::-webkit-scrollbar-track {
    background: var(--primary-color); /* color of the tracking area */
}

.message-container::-webkit-scrollbar-thumb {
    background-color: orange; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid orange; /* creates padding around scroll thumb */
}

.message-item{
    padding:5px 10px;
    margin:5px;
    border-radius:20px;
    width:fit-content;

}
.message-user-name{
    padding-right:20px;
    font-weight: bold;
    color:orange;
}
.message-time{
    font-weight: lighter;
    font-size: 0.6rem;

    float:right;

}
.owner-message{
    background-color:var(--primary-color);
    position: relative;
    border-bottom-right-radius:0px ;
}

.guest-message{
    background-color:var(--secondary-color);
    position: relative;
    border-bottom-left-radius:0px ;
}

.badge-message {
    margin:5px;
}

